<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="w-full h-screen flex">
        <div class="bg-black w-1/4 h-screen"></div>
        <div class="w-3/4 h-screen py-15 px-40">
            <div class="text-5xl font-bold">Create New Product</div>
            
            <form action="/admin/createproduct" method="post" enctype="multipart/form-data" class="flex flex-col ">
                <div class="py-5 flex flex-col">
                <div class="text-4xl">Product Details</div>
                <input type="file" name="image" id="" class="py-2 text-sm text-stone-500
                 file:mr-5 file:py-1 file:px-3 file:border-[1px]
                 file:text-xs file:font-medium
                 file:bg-stone-50 file:text-stone-700
                 hover:file:cursor-pointer hover:file:bg-blue-50
                 hover:file:text-blue-700">
                <input type="text" name="name" id="" placeholder="Product Name" class=" p-3 bg-gray-200 m-1 rounded border-solid border-2 border-gray-300 focus:outline-none focus:border-blue-500 ">
                <input type="text" name="price" id="" placeholder="Product Price" class=" p-3 bg-gray-200 m-1 rounded border-solid border-2 border-gray-300 focus:outline-none focus:border-blue-500">
                <input type="text" name="discount" id="" placeholder="Discount" class=" p-3 bg-gray-200 m-1 rounded border-solid border-2 border-gray-300 focus:outline-none focus:border-blue-500">
                </div>
                <div class="py-5 flex flex-col">
                    <div class="text-4xl">Panel Customization</div>
                <input type="text" name="bgColor" id="" placeholder="Background Color" class=" p-3 bg-gray-200 m-1 rounded border-solid border-2 border-gray-300 focus:outline-none focus:border-blue-500">
                <input type="text" name="panelColor" id="" placeholder="Panel Color" class=" p-3 bg-gray-200 m-1 rounded border-solid border-2 border-gray-300 focus:outline-none focus:border-blue-500">
                <input type="text" name="textColor" id="" placeholder="text Color" class=" p-3 bg-gray-200 m-1 rounded border-solid border-2 border-gray-300 focus:outline-none focus:border-blue-500">
                </div>

                <input type="submit" value="Add" class="bg-blue-300 p-3 m-1 w-min rounded-lg active:bg-blue-400">
            </form>
        </div>
    </div>
</body>

</html>